<div class="container-md">

  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <h1 style="font-size: 50px">About</h1>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <p style="font-size: 20px">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </p>
    </div>
  </div>

</div>